$MONTSERRAT: "Montserrat", sans-serif;

$MONTSERRAT_EXTRA_LIGHT: 200;
$MONTSERRAT_LIGHT: 300;
$MONTSERRAT_REGULAR: 400;
$MONTSERRAT_SEMI_BOLD: 600;
$MONTSERRAT_BOLD: 700;
$MONTSERRAT_EXTRA_BOLD: 800;
